.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 36px;
}
.button{
    display: flex;
    align-items: center;
    gap: 5px;
}
.button>img{
    width: 25px;
    transition: transform 0.5s;
}
.button:hover>img{
    transform: rotate(180deg);
}