.title{
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
}
.menu{
    display: flex;
    flex-flow: column;
    gap: 10px;
}
.item{
    position: relative;
    padding: 0 0 0 20px;
}
.item::before{
    content: "";
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    background: var(--main-black);
    border-radius: 50%;
}
.link{
    color: var(--main-black);
}
.link:hover{
    text-decoration: underline;
}
.link_active{
    color: red;
}