.item{
    max-width: 45px;
    display: flex;
    flex-flow: column;
    gap: 2px;
}
.item img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
    background: #f1f1f1;
    object-fit: cover;
    object-position: center;
}
.username{
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}