.item{
    max-width: 300px;
    padding: 6px 12px;
    margin: 0 auto 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 15px;
    border-bottom-left-radius: 0;
}
.item.myMessage{
    margin: 0 0 0 auto;
    background: #f1f1f1;
    border-radius: 15px;
    border-bottom-right-radius: 0;
}
.message{
    font-size: 14px;
}