.footer{
    height: 200px;
    padding: 20px 0;
    border-top: 1px solid #d6d6d6;
    box-shadow: 0 0 10px #d6d6d6;
}
.logo>a{
    font-size: 32px;
    font-weight: 700;
    color: var(--main-black);
}