.navigation{
    min-height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6d6d6;
}
.userInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.image{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.username{
    font-size: 18px;
    font-weight: 700;
}